/*Allgemeine Anweisungen*/
* {
	font-family: Arial;
	color: black;
}

.wrapper {
	width: 40%;
	margin: auto;
	height: 750px;
}

/*Ausgabe*/
.calculationstring {
	width: 40%;
	height: 150px;
	border: 1px solid black;
	overflow: scroll;
}

#output {
	width: 100%;
	height: 100%;
	font-size: 100px;
	text-align: right;
	z-index: 0;
}

span {
	font-size: 100px;
	height: 120px;
}

p {
	z-index: 17;
	float: right;
}

/*Numblock*/

#numblock {
	width: 40%;
	height: 600px;
	border: 1px solid black;
	text-align: center;
	font-size: 75px;
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	height: 15px;
	width: 15px;
}

.numbs {
	background-color: white;
}

.operations {
	background-color: #dbdcdc;
	margin: 3px;
	color: #00a2d7;
}

.equal {
	color: white;
	background-color: #56c95b;
}

.equal:hover {
	color: white;
	background-color: black;
	opacity: 0.3;
}

td:hover {
	background-color: #B8B8B8;
}



#sidemenubtnImg {
	width: 50px;
	height: 50px;
}
